<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Wit Living - Test</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="<%=root_path%>">Wit Living</a>
        </div>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
    <nav class="navbar navbar-inverse navbar-fixed-bottom">
      <div class="container">
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a>Quantity of items in carts: <%=CartItem.pending_quantity%></a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a>Amount of items in carts: <%=CartItem.pending_amount%></a></li>
          </ul>
        </div>
      </div>
    </nav>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
